* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: darkgray;
}
.container {
    width: 75%;
    margin: 0 auto;
}

.container ul {
    list-style: none;
    padding: 0;
}

.container ul li {
    display: inline;
}

.container ul li a {
    display: block;
    /*width: 25%;*/
    width: calc(25% - 1px);
    float: left;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    background-color: cornflowerblue;
    color: white;
    margin: 0 1px 0 0;
}

.container ul li a:hover {
    background-color: black;
}

/*.container ul li a:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container ul li a:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}*/

.container ul li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container ul li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: left;
}